In [26]:
import pandas as pd
import datetime as dt
import sqlalchemy

In [47]:
zillow_input_file = '../resources/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv'
zillow_data = pd.read_csv(zillow_input_file)
#zillow_data.head()

In [84]:
column_list = ['RegionName', 'City', 'State', '2017-12-31']

zillow_data_2017 = zillow_data[column_list]
zillow_data_2017.rename(columns={
    'RegionName': 'zip_code',
    'City': 'city', 
    'State': 'state'
}, inplace=True)
zillow_data_2017.set_index('zip_code', inplace=True)
zillow_data_2017.sort_values(by='2017-12-31', ascending=False, inplace=True)
zillow_data_2017.dropna(inplace=True)
#zillow_data_2017.head()

                   city state  2017-12-31
zip_code
94027          Atherton    CA   5725830.0
11962        Sagaponack    NY   4628684.0
90210     Beverly Hills    CA   4114493.0
33109     Fisher Island    FL   3830113.0
2199             Boston    MA   3766383.0